/* Removes unwanted styling from the page */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  max-width: 100%;
}

/* Write your code below this */




/* nav section */
.navbar {
  width: 100%;
  padding: 26px 60px;
  display: flex;
  justify-content: space-between;
}

li {
  display: inline-block;
  list-style-type: none;
  margin: 0 12px;
}
.hero {
  background-image: url('/hero.png');
  height: 500px;
  padding-top: 219px;
  padding-left: 103px;
}

h1 {
  font-size: 36px;
  margin-bottom: 15px;
}

button {
  margin-top: 35px;
  padding: 12px 30px;
  background: #52647E;
  color: white;
  border-radius: 10px;
}




/* journey section */
.journey {
  background: #618379;
  padding: 57px 0;
}

h2 {
  color: white;
  font-size: 32px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 57px;
}

.journey-list {
  display: flex;
  width: 80%;
  margin: 0 10%;
  justify-content: space-between;
  /* background-color: red; */
}

.journey-card {
  width: 30%;
  background-color: white;
  padding: 25px;
  border-radius: 40px;
  color:gray;
}

.journey-image {
  border-radius: 25px;
  margin-bottom: 25px;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 12px;
  color: black;
}


/* footer section */
footer {
  background-color: #333232;
  text-align: center;
  color: white;
  padding: 30px;
}

/* optional section  */

.optional {
    height: 388px;
    width: Fixed (1000px);
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    
}
.about{
    /* border: 1px solid red; */
    width: 12rem;
    align-self: center;
    

}
.about-group{
    width: 750px; 
    margin-top: 4rem;
    /* border: 1px solid blue; */
    height: 191px;
    align-self: center;
    display: flex;
    flex-direction: column;
     
}

.center{
    /* border: 1px solid red; */
    margin-top: 3rem;
    text-align: center;
    font-weight: 600px;
    
}

/*  this is the my goals section  */

.optionals {
    height: 388px;
    width: Fixed (1000px);
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
}

a{
  text-decoration: none;
  color: black;
}
